<div class="card mb-3">
    <div class="card-body">
        <div>
            <button class="btn btn-info" (click)="clearOrder.emit()">
                Clear cart
            </button>
        </div>
        <div *ngFor="let category of dishCategories">
            <strong>{{category}}:</strong>
            <span *ngFor="let dish of categorizedDishes[category]">
                <span *ngIf="dish.amount>1">
                    {{dish.name}} x {{dish.amount}}
                </span>
                <span *ngIf="dish.amount==1">
                    {{dish.name}}
                </span>
            </span>
        </div>
        <div>
            <strong>Total: {{ totalPrice}} ₽</strong>
        </div>
    </div>
</div>